<div class="col-6">
    <h3 class="text-center redHeadings">Novel coronavirus (2019-nCoV)</h3>
    <br>
    <p class="text-justify">Coronaviruses are a large family of viruses that can cause respiratory illnesses such as the common cold, according to the Centers for Disease Control and Prevention (CDC). Most people get infected with coronaviruses at one point in their lives, but symptoms are typically mild to moderate. In some cases, the viruses can cause lower-respiratory tract illnesses<span><p>such as pneumonia and bronchitis. - https://www.livescience.com</p></span></p>
    <br>
</div>
