<!-- views/partials/footer.ejs -->
<footer class="page-footer font-small gray">
    <div class="footer-copyright text-center py-3"><%- copyright %><span><a data-toggle="modal" data-target="#contactModal"><%- contactUs %></a></span></div>
</footer>
