<!-- Live map heading -->
<div class="d-flex justify-content-center">
    <h2 class="animated flash delay-2s redHeadings">Coronavirus Live Map</h2>
</div>
<!-- End of live map heading -->
<!-- The Google map -->
<div id="map" class="d-flex align-items-center"></div>
<br>
<br>

<!-- Google maps API - uses async and defer to allow the parsing of the HTML to continue while the script downloads -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRFhUZw7jPcsEiL_OcgfKXrfhbKVMBlzE&callback=initMap" type="text/javascript"></script>
