<div class="flash">
    <div class="row" id="infectedRow">
        <div class="margin-auto">
            <div class="col">
                <h2 class="animated flash delay-2s" id="infectedTotal"><%- infectedTotal %></h2>
                <br>
                <p class="text-center"><i><%- viewStats %><a data-toggle="modal" data-target="#statisticsModal" id="boldtext"><%- pressHere %></a></i></p>
            </div>
        </div>
    </div>
</div>
