<div class="flash">
    <div class="row" id="infectedRow">
        <div class="margin-auto">
            <div class="col">
                <h2 class="animated flash delay-2s" id="infectedTotal">INFECTED TOTAL: </h2>
            </div>
        </div>
    </div>
</div>
