     <div class="list-group container d-flex justify-content-center navstyle" role="tablist">
         <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
             <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><h3><%- navBarHeadings.home %></h3></a>
             <a class="nav-item nav-link" id="nav-timeline-tab" data-toggle="tab" href="#nav-timeline" role="tab" aria-controls="nav-timeline" aria-selected="false"><h3><%- navBarHeadings.timeline %></h3></a>
             <a class="nav-item nav-link" id="nav-staysafe-tab" data-toggle="tab" href="#nav-staysafe" role="tab" aria-controls="nav-staysafe" aria-selected="false"><h3><%- navBarHeadings.staysafe %></h3></a>
          </div>
     </div>
