<!-- views/partials/staysafe.ejs -->
<!-- Create a container in the center of the page -->
            <div class="container d-flex h text-center align-items-center">

                <!-- Symptoms column -->
                <div class="col">
                    <h1 class="display-4 redHeadings">Symtpoms</h1>
                    <p class="text-justify">Chesty Cough, with pain from coughing</p>
                    <p class="text-justify">High Temperature and feeling hot all of the time</p>
                    <p class="text-justify">Feeling tired after short excercise such as walking</p>
                    <p class="text-justify">Sneezing often</p>
                    <p class="text-justify">Headaches</p>
                </div>
                <!-- End of symptoms column -->
                <!-- Prevention column -->
                <div class="col">
                    <h1 class="display-4 redHeadings">Prevention</h1>
                    <p class="text-justify">Always cover moouth and nose when sneezing</p>
                    <p class="text-justify">Avoid large gathering in places where coronavirus has been found</p>
                    <p class="text-justify">Avoid travelling to regions and countries where coronavirus has been found</p>
                    <p class="text-justify">Avoid contact with suspected infected victims</p>
                </div>
                <!-- End of prevention column -->
            </div>
            <!-- End of container -->
