<div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text-white">
        <h2><span class="letters">Coronavirus live map</span></h2>
        <p class="redHeadings">THE UNOFFICIAL VIRUS TRACKER</p>
    </div>
</div>
