.ui-widget-content p {
  color: white;
}

.ui-widget-content {
  color: white!important;
  background-color: #292929;
}

.ui-widget-header {
  border: 0px solid #dddddd;
  background: #900000;
  color: white;
  text-transform: uppercase;
}

.ui-dialog {
  height: 100px!important;
  width: 300px!important;
  top: 657.5px!important;
  left: 841px!important;
  display: block;
}

.ui-widget.ui-widget-content {
  border: 0px solid #c5c5c5;
}

.ui-dialog-content .ui-widget-content {
  width: auto;
  min-height: 58px!important;
  max-height: none;
  height: auto;
}